/*For testing only */

*:not(body):not(html) {
 box-sizing:border-box;
 border:1px dashed #000;
}

.columns {
 min-height: 100px;
}

/* End for testing */
/*Standard CSS styles below*/


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
}

.logo img {
  float: left;
}

.navigation img {
  width: 5vw;
}

.menu-list ul {
  list-style: none;
}

.menu-list ul li {
  display: inline;
  font-size: 1vw;
  padding: 3px;
  margin-right: 1vw;
}

.hero-image h1 {
  text-align: center;
  color: white;
  font-size: 60px;
  padding-top: 200px;

}

.header {
  text-align: center;
  background-image: url("../img/space.gif");
  width: 100vw;
  height: 50vh;
}

.header ul {
  list-style: none;
  display: inline;
}

.header ul li {
  float: left;
  margin-right: 10px;
}

#opacity {
  width: 55vw;
  height: 2vh;
  margin: 1vh auto;
  padding: 5vw;
  /*background-color: yellow;*/
  /*background: #fff;
  opacity: 0.4;*/
  display: block;
}

/*.header:nth-child(2n) {
  display: block;
  background: #fff;
  opacity: 0.4;
}*/

.gift {
  clear: both;
  width: 95vw;
  height: 15vh;
  font-size: 2em;
  text-align: center;
  color: gray;
  line-height: 1em;
  padding: 5px;
  margin: 30px;
}

.illusion {
  width: 95vw;
  background-color: #4a90e2;
  padding: 5px;
}

.illusion-left {
  font-size: 4em;
  color: white;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  padding-top: 80px;
}

.tent {
  width: 95vw;
  background-color: #efefef;
}

.tent-left {
  font-size: 4em;
  text-align: center;
  color: gray;
  line-height: 1em;
  padding-top: 80px;
  padding-bottom: 20px;
}

.tent-right {
  float: right;
}

@media screen and (min-width: 250px) and (max-width: 767px) {
  body {
    background-color: green;
  }

}
