/*For testing only */

*:not(body):not(html) {
 box-sizing:border-box;
 border:1px dashed #000;
}

.columns {
 min-height: 100px;
}

/* End for testing */
/*Standard CSS styles below*/


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
}

/*.logo {
  position: relative;
  float: left;
}*/

.navigation img {
  width: 5vw;
}

/*.menu-list {
  position: relative;
  float: right;
}*/

.menu-list ul {
  list-style: none;
}

.menu-list ul li {
  display: inline;
  font-size: 1vw;
  padding: 3px;
  margin-right: 1vw;
}

.hero-image {
  position: relative;
}

.hero-image h1 {
  text-align: center;
  color: black;
}

.header {
  position: absolute;
  text-align: center;
  z-index: 1;
  top: 350px;
  left: 500px;
  padding: 10px;

}

.header:nth-child(2n) {
  display: block;
  background: #fff;
  opacity: 0.4;
}

.gift {
  width: 95vw;
  font-size: 4em;
  text-align: center;
  color: gray;
  line-height: 1em;
  padding: 5px;
  
}
